:root {
  --first-color: #212121;
  --second-color: #757575;
  --third-color: #2196F3;
  --main-background-color: #E5E5E5;
  --main-text-color: #FFFFFF;
  --header-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --logo-color: #000000;
  --section-team-baskground-color: #F5F4FA;
  --portfolio-img-background-color: #EEEEEE;
  --footer-background-color: #2F303A;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --main-btn-text-color: var(--main-text-color);
  --main-btn-background-color: var(--third-color);
  --secondary-btn-text-color: var(--first-color);
  --studio-hover-color: #188CE8;
  --border-basic-color: #AFB1B8;
  --modal-input-color: rgba(117, 117, 117, 0.5);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --submit-input-color: rgba(255, 255, 255, 0.3);
  --transition-time: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--first-color);
  background-color: var(--main-text-color);
}

ul,
h1,
h2,
h3,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container__flex {
  display: flex;
  justify-content: space-between;
}

.container-border {
  border-bottom: 1px solid #ECECEC;
}

.no-decoration-link {
  text-decoration: none;
}

.navigation {
  display: flex;
}

.navigation .navigation__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  color: var(--third-color);
  align-self: center;
  padding: 24px 0;
  align-items: center;
}

.navigation__logo {
  display: inline-block;
}

.navigation .span__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  color: var(--logo-color);
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
  display: block;
  padding: 32px 0;
  transition-property: color;
}

.navigation__list {
  gap: 50px;
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}

.navigation__link:hover,
.current-page,
.navigation__link:focus {
  color: var(--third-color) !important;
}

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  border-radius: 2px;
  bottom: -1.5px;
  background-color: var(--third-color);
}

.active {
  position: relative;
}

.menu__open {
  padding-left: auto;
  border: none;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .menu__open {
    display: none;
  }
}

.menu__open:hover {
  fill: var(--third-color);
}

.mob-menu__button {
  margin-bottom: 48px;
}

.mob-menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100%;
  min-height: 796px;
  background-color: #FFFFFF;
  top: 0;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.menu__close {
  display: block;
  margin-left: auto;
  border: none;
  background-color: #fff;
  margin-top: 15px;
}
.menu__close:hover, .menu__close:focus {
  fill: var(--third-color);
}

.menu-icon:hover {
  fill: currentColor;
  transition: fill var(--transition-time) var(--cubic-function);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu__list {
  margin-bottom: 304px;
}

.mob-contacts {
  margin-bottom: 64px;
  padding: auto;
}

.mob-contacts__post {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--third-color);
  margin-bottom: 32px;
  display: block;
  overflow-wrap: break-word;
}

.mob-contacts__list {
  margin-bottom: 64px;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  display: inline;
  text-decoration: none;
  color: var(--third-color);
}

.mob-social__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .mob-social__list {
    display: none;
  }
}

.mob-social__item:not(:last-child):after {
  content: "";
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  color: rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 768px) {
  .mob-social__item:not(:last-child):after {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.visually-hidden-portfolio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  cursor: pointer;
  font-family: inherit;
}

.contacts__list {
  margin-right: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

.contacts__icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon-telephone {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__tel {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-color);
  align-items: center;
  transition-property: color;
}
.contacts__tel:hover, .contacts__tel:focus {
  color: var(--third-color);
}
@media screen and (min-width: 768px) {
  .contacts__tel {
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__tel {
    padding: 30px 0;
  }
}

.contacts__post {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-color);
  align-items: center;
  transition-property: color;
}
.contacts__post:hover, .contacts__post:focus {
  color: var(--third-color);
}
@media screen and (min-width: 768px) {
  .contacts__post {
    padding-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__post {
    padding: 30px 0;
  }
}

.contacts__icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon-telephone {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin: auto;
    padding: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop2x.jpg);
  }
}

.hero .container {
  padding: 0;
}

.hero__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.16;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin: auto;
  margin-bottom: 30px;
  font-style: normal;
  max-width: 430px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.16;
    letter-spacing: 0.06em;
    width: 430px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 430px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 1200px;
    max-width: 715px;
  }
}
.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: inline-block;
  align-items: center;
  text-align: center;
  padding: 8px 20px;
  border-radius: 4px;
  border: 0px;
  color: var(--main-btn-text-color);
  background-color: var(--main-btn-background-color);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--studio-hover-color);
  color: var(--main-btn-text-color);
}
@media screen and (min-width: 480px) {
  .hero__btn {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.hero__pozition-center {
  text-align: center;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  color: var(--second-color);
}

.features__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__item::before {
  display: block;
  background-color: var(--section-team-baskground-color);
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.features__icon-antenna::before {
  background-image: url("../images/antenna2.svg");
  background-size: 70px 65px;
  margin-bottom: 30px;
}

.features__icon-clock::before {
  background-image: url("../images/clock.svg");
  background-size: 70px 65px;
  margin-bottom: 30px;
}

.features__icon-diagram::before {
  background-image: url("../images/diagram.svg");
  background-size: 70px 65px;
  margin-bottom: 30px;
}

.features__icon-astronaut::before {
  background-image: url("../images/astronaut.svg");
  background-size: 70px 65px;
  margin-bottom: 30px;
}

.team {
  background-color: var(--section-team-baskground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-color);
  margin-bottom: 30px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.team__item {
  background-color: var(--main-text-color);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__box {
  padding: 30px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team__worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-color);
  margin-bottom: 10px;
}

.team__text {
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}

.team__item img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team__item img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item img {
    width: 270px;
    height: 260px;
  }
}

.work {
  display: none;
  padding-bottom: 94px;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 50px;
  text-align: center;
}

.work__list {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.work__item {
  align-items: center;
  position: relative;
}

.work__backdrop {
  background-color: rgba(47, 48, 58, 0.8);
  width: 360px;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__article {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text-color);
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--header-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
}
.social__link:hover, .social__link:focus {
  background-color: var(--third-color);
  fill: var(--header-background-color);
}

.social__icon-svg {
  fill: var(--border-basic-color);
  transition-property: fill;
}
.social__link:hover .social__icon-svg, .social__link:focus .social__icon-svg {
  fill: var(--header-background-color);
}

.footer-add__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
}
.footer-add__link:hover, .footer-add__link:focus {
  background-color: var(--third-color);
  fill: var(--header-background-color);
}

.footer-add__social {
  fill: var(--header-background-color);
  transition-property: fill;
}
.footer-add__link:hover .footer-add__social, .footer-add__link:focus .footer-add__social {
  fill: var(--header-background-color);
}

.footer__add {
  margin-left: 70px;
}

.footer__icon-svg {
  fill: var(--header-background-color);
}

.client {
  padding: 94px 0;
}
@media screen and (min-width: 768px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.client__link {
  height: 92px;
  border: 1px solid var(--border-basic-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition-property: border-color;
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--third-color);
}
.client__link:hover .client__page, .client__link:focus .client__page {
  fill: var(--third-color);
}

.client__item .client__page {
  fill: var(--border-basic-color);
  transition-property: fill;
}

.client__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 150px) / 6);
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--header-background-color);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: px;
    height: px;
  }
}

.form__btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
  right: 8px;
  top: 8px;
}
.form__btn-close:hover, .form__btn-close:focus {
  fill: var(--third-color);
  border-color: var(--third-color);
}

.agreement__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__btn-svg {
  position: absolute;
  top: 5px;
  right: 5px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-color);
  margin-bottom: 12px;
}

.field__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  padding-left: 42px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input:hover, .field__input:focus {
  border: 1px solid var(--third-color);
  border-radius: 4px;
  transition-property: border-color;
}
.field__input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--modal-input-color);
}
.field__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--modal-input-color);
}
.field__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--modal-input-color);
}
.field__input:hover + .field__name, .field__input:focus + .field__name, .field__input:hover + .field__phone, .field__input:focus + .field__phone, .field__input:hover + .field__email, .field__input:focus + .field__email {
  fill: var(--third-color);
  transition-property: fill;
}

.field__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
  display: block;
}

.modal-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  display: flex;
  align-items: center;
}
.modal-agreement span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agreement__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--third-color);
}

.form__send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--main-text-color);
  background: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: auto;
  border: 0px;
}

.agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  position: relative;
  text-align: center;
  color: var(--second-color);
}

.label {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background: var(--header-background-color);
  border: 2px solid var(--first-color);
  border-radius: 2px;
}
.agreement__checkbox:checked + .agreement__icon {
  background-image: url("../images/vector.svg");
  background-color: var(--third-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--third-color);
}

.icon-vector {
  fill: transparent;
}

.modal__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  color: var(--modal-input-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  display: block;
}

.field__name,
.field__phone,
.field__email {
  position: absolute;
  top: 50%;
  left: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field {
  position: relative;
  margin-bottom: 10px;
}

.field__last {
  position: relative;
  margin-bottom: 20px;
}

.link,
.svg-animation,
.btn-animation {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section {
  padding: 94px 0;
}

.portfolio-section-list {
  list-style: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .portfolio-section-list {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-section-list {
    flex-wrap: nowrap;
  }
}

.portfolio-section-item {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-btn-text-color);
  transition-property: color;
}

.portfolio-section-item-btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  border-color: var(--section-team-baskground-color);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-item-btn:hover, .portfolio-section-item-btn:focus {
  color: var(--main-btn-text-color);
  background-color: var(--main-btn-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: box-shadow, color, background-color;
}

.section-list {
  display: block;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .section-list {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-list {
    margin-top: 50px;
  }
}

.section-item {
  list-style: none;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: none;
  text-decoration: none;
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-item {
  position: relative;
}

.card-top-text {
  position: relative;
  overflow: hidden;
}

.card-article {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(104%);
  transition: transform 250ms linear;
}
.card-item:hover .card-article {
  transform: translateY(0%);
}
.portfolio-link:focus .card-article {
  transform: translateY(0%);
}

.card-set > .card-item {
  margin: 15px;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .card-set > .card-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-set > .card-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio-text-box {
  padding: 20px 24px;
  border: 1px solid var(--section-team-baskground-color);
  border-top: 0;
  flex-grow: 1;
}

.section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
}

.section-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.submit-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid var(--submit-input-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--footer-link-color);
}

.submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--main-text-color);
  padding: 5px 15px;
  margin-left: 12px;
  border: solid var(--third-color);
  justify-content: center;
}

.footer {
  background-color: var(--footer-background-color);
  padding: 60px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
}
.footer .container {
  align-items: baseline;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    padding: 0 30px;
  }
}

.footer__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  color: var(--third-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo-span {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.footer__address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__address {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
  }
}

.footer__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 9px;
}

.footer__list {
  text-align: center;
}

.footer__item {
  list-style: none;
}

.footer__post {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  transition-property: color;
}
@media screen and (min-width: 768px) {
  .footer__post {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__post {
    padding: 0;
  }
}

.footer__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  transition-property: color;
}
@media screen and (min-width: 768px) {
  .footer__tel {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tel {
    padding: 0;
  }
}

.footer-add__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-add {
    margin-left: 70px;
  }
}

.footer-contacts-add {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-contacts-add {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts-add {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.footer-submit-field {
  margin-left: auto;
}
.footer-form {
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    flex-direction: row;
  }
}

.form-submit {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  display: inline-block;
  margin-bottom: 20px;
}

.form-submit__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  box-sizing: border-box;
  width: calc(100% - 30px);
  height: 50px;
  border: 1px solid var(--submit-input-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  align-items: center;
  color: var(--footer-link-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form-submit__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-submit__input {
    width: 358px;
    margin-bottom: 0px;
  }
}

.form-submit__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  text-align: center;
  color: var(--main-text-color);
  padding: 5px 15px;
  margin-left: 12px;
  border: solid var(--third-color);
  justify-content: center;
}

.form-submit__svg {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */