.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: var(--header-background-color);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(0);
    }
        @media screen  and (min-width: 1200px) {
            max-width: 528px;
            height: 581px;
            
        }
        @media screen and (min-width: 768px) {
            max-width: px;
            height: px;
            
                        }
}
.form__btn-close {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #999999;
    border-radius: 50%;
    background-color: transparent;
    right: 8px;
    top: 8px;
    &:hover,
        &:focus {
            fill: var(--third-color);
            border-color: var(--third-color);
                  }
}
.agreement__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.form__btn-svg {
    position: absolute;
    top: 5px;
    right: 5px;
}
.form__title {
    @include font (700, 20, 1.15, 0.03);
    // font-weight: 700;
    // font-size: 20px;
    // line-height: 1.15;
    text-align: center;
    // letter-spacing: 0.03em;
    color: var(--first-color);
    margin-bottom: 12px;
}
.field__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    /* margin-bottom: 10px; */
    padding-left: 42px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
    &:focus {
        border: 1px solid var(--third-color);
        border-radius: 4px;
        transition-property: border-color;
    }
        &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: var(--modal-input-color);
        }
                &:hover+.field__name,
                &:focus+.field__name,
                &:hover+.field__phone,
                &:focus+.field__phone,
                &:hover+.field__email,
                &:focus+.field__email {
                    fill: var(--third-color);
                    transition-property: fill;
                }
}
.field__label {
    @include font (400, 12, 1.16, 0.01);
    color: var(--second-color);
    display: block;
}
.modal-agreement {
    @include font (400, 14, 1.71, 0.03);
    // font-weight: 400;
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    color: var(--second-color);
    display: flex;
    align-items: center;
    span {
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
.agreement__link {
    @include font (400, 14, 1.71, 0.03);
    text-decoration-line: underline;
    color: var(--third-color);
}
.form__send {
    @include font (700, 16, 1.88, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--main-text-color);
    background: var(--third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
   
}
.agreement {
    @include font (400, 14, 1.71, 0.03);
    position: relative;
    text-align: center;
    // font-weight: 400;
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    color: var(--second-color);
}
.label {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}
.agreement__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    /* background-color: tomato; */
    background: var(--header-background-color);
    border: 2px solid var(--first-color);
    border-radius: 2px;
    .agreement__checkbox:checked+& {
            background-image: url('../images/vector.svg');
            background-color: var(--third-color);
            background-size: contain;
            background-origin: border-box;
            border-color: var(--third-color);
        }
}

.icon-vector {
    fill: transparent;
}
.modal__text {
    @include font (400, 12, 1.17, 0.01);
    width: 100%;
    height: 120px;
    // font-weight: 400;
    // font-size: 12px;
    // line-height: 1.17;
    // letter-spacing: 0.01em;
    color: var(--modal-input-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    display: block;
}
.field__name,
.field__phone,
.field__email {
    position: absolute;
    top: 50%;
    left: 12px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.field {
    position: relative;
    margin-bottom: 20px;
}
.form-submit {
    @include font (700, 14, 1.14, 0.03);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    display: inline-block;
    margin-bottom: 12px
}

