:root {
    --first-color: #212121;
    --second-color: #757575;
    --third-color: #2196F3;
    --main-background-color: #E5E5E5;
    --main-text-color: #FFFFFF;
    --header-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --logo-color: #000000;
    --section-team-baskground-color: #F5F4FA;
    --portfolio-img-background-color: #EEEEEE;
    --footer-background-color: #2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --main-btn-text-color: var(--main-text-color);
    --main-btn-background-color: var(--third-color);
    --secondary-btn-text-color: var(--first-color);
    --studio-hover-color: #188CE8;
    --border-basic-color: #AFB1B8;
    --modal-input-color: rgba(117, 117, 117, 0.5);
    --modal-border-color: rgba(33, 33, 33, 0.2);
    --submit-input-color: rgba(255, 255, 255, 0.3);
    --transition-time: 250ms;
}