.client {
    padding: 94px 0;
    @include tablet {
        padding-top: 60px;
        padding-bottom: 60px;
    }
         @include desktop {
             padding-top: 94px;
             padding-bottom: 94px;
         }
}
.client__title {
    @include font (700, 36, 1.67, 0.03);
    font-family: 'Roboto';
    font-style: normal;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;   ;
        }
    }

.client__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.client__link {
    height: 92px;
    border: 1px solid var(--border-basic-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition-property: border-color;
    &:hover,
        &:focus {
            border: 1px solid var(--third-color);
        }
        &:hover .client__page,
        &:focus .client__page,
       {
    fill: var(--third-color);
}
}
.client__item {
    .client__page,
     {
    fill: var(--border-basic-color);
    transition-property: fill;
}
}
.client__item {
        width: calc((100% - 30px) / 2);
           @media screen and (min-width: 768px) {
            width: calc((100% - 60px) / 3);
        }
        @media screen and (min-width: 1200px) {
            width: calc((100% - 150px) / 6);
        }
    }
