.contacts__list {
    display: flex;
    gap: 50px;
    margin-right: 0;
    align-items: center;
    display: none;
}

.contacts__tel {
    // display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    // padding: 32px 0;
    color: var(--second-color);
    align-items: center;
    transition-property: color;

    &:hover,
    &:focus {
        color: var(--third-color);
    }
}

.contacts__post {
    // display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    // padding: 32px 0;
    color: var(--second-color);
    align-items: center;
    transition-property: color;

    &:hover,
    &:focus {
        color: var(--third-color);
    }
}

.contacts__icon-envelope {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__icon-telephone {
    margin-right: 10px;
    fill: currentColor;
}
