.features {
    padding-top: 60px;
    padding-bottom: 60px;
        @include desktop {
                padding-top: 90px;
                    padding-bottom: 90px;
            }
 }
.features__title {
    @include font (700, 14, 1.14, 0.03);
    text-transform: uppercase;
    color: var(--first-color);
    margin-bottom: 10px;
    text-align: center;
}
.features__text {
    @include font (400, 14, 1.71, 0.03);
    color: #757575;
    color: var(--second-color);
}
.features__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.features__item {
    // flex-basis: calc((100% - 3 * 30px) / 4);
    width: 100%;
    @include tablet{
    width: calc((100% - 30px)/2);
    }
                 @include desktop {
             width: calc((100% - 90px)/4);
         }
}
.features__item::before {
    display: block;
    background-color: var(--section-team-baskground-color);
    content: '';
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}