.footer-submit-field {
    margin-left: auto;
}
.footer-form {
    flex-wrap: wrap;
}
// .footer-input-btn {
//     display: flex;
//     gap: 15px;
// }

.form-submit {
    @include font (700, 14, 1.14, 0.03);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    display: inline-block;
    margin-bottom: 20px
}
.form-submit__input {
    @include font (400, 16, 1.25, 0.03);
    box-sizing: border-box;
    width: 358px;
    height: 50px;
    border: 1px solid var(--submit-input-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: var(--footer-link-color);
    margin-bottom: 20px;
}
.form-submit__btn {
    @include font (700, 16, 1.87, 0.06);
    width: 200px;
    height: 50px;
    background: var(--third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
    padding: 5px 15px;
    margin-left: 12px;
    border: solid var(--third-color);
    justify-content: center;
}
.form-submit__svg {
    margin-left: 10px;
}
// .button-sign {
//     align-items: center;
// }
// .footer-input-btn {
//     display: flex;
//     gap: 15px;
// }
