.footer {
    background-color: var(--footer-background-color);
    padding: 60px 0;
    text-align: center;
    .container {
            // display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            @media screen and (min-width: 1200px) {
                    display: flex; 
            }    
        }
    }
.footer__logo {
    @include font (700, 26, 1.19, 0.03);
    font-family: 'Raleway', sans-serif;
    color: var(--third-color);
}
.footer__logo-span {
    @include font (700, 26, 1.19, 0.03);
    color: var(--main-text-color);
    margin-bottom: 20px;
}
// .footer-logo-contacts {
//     @media screen and (min-width: 768px) {
//         display: flex;
//     }
// }
.footer__address {
    font-style: normal;
    margin-top: 20px;
}
.footer__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 9px;
}
.footer__list {
    text-align: center;
    margin-bottom: 89px;
}
.footer__item {
    list-style: none;
    margin-bottom: 9px;
}
.footer__post {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
    transition-property: color;
}
.footer__tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
    transition-property: color;
}
.footer-add__title {
    @include font (700, 14, 1.14, 0.03);
    font-family: 'Roboto';
    font-style: normal;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 20px;
}
// .footer-add {
//   margin-left: 70px;  
// }
.footer-add__list {
    margin-bottom: 60px;
}
.footer-contacts-add {
   @media screen and (min-width: 768px) {
       display: flex;
       justify-content: space-around;
}
  @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: flex-start;
  }
}