.navigation {
    display: flex;
}

.navigation .navigation__logo {
    @include font (700, 26, 1.19, 0.03);
    font-family: 'Raleway', sans-serif;
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
    color: var(--third-color);
    align-self: center;
    padding: 24px 0;
    align-items: center;
}
.navigation__logo {
    display: inline-block;
}
.navigation .span__logo {
    @include font (700, 26, 1.19, 0.03);
    font-family: 'Raleway', sans-serif;
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
    color: var(--logo-color);
}
.navigation__link {
    @include font (500, 14, 1.14, 0.02);
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    color: var(--first-color);
    display: block;
    padding: 32px 0;
    transition-property: color;
}
 .navigation__list {
     gap: 50px;
     display: flex;
     margin-left: 93px;
     display: none;

 }
 .navigation__link:hover,
 .current-page,
 .navigation__link:focus {
     color: var(--third-color);
 }
  .active::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      left: 0;
      border-radius: 2px;
      bottom: -1.5px;
      background-color: var(--third-color);
}
.active {
       position: relative;
}
.contacts__icon-envelope {
     margin-right: 10px;
     fill: currentColor;
}
.contacts__icon-telephone {
     margin-right: 10px;
     fill: currentColor;
}
.contacts__list{
    padding: 32px 0;
}
.menu__open {
    padding-left: auto;
}

.mob-menu {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vw;
    background-color: #FFFFFF;
    top: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    >.container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        overflow: auto;
    }
}


.menu__close {
    display: block;
    margin-left: auto;
    margin-bottom: 30px;
}

.mob-menu__nav {}

.navigation__logo {}

.no-decoration-link {}

.span__logo {}

.mob-menu__list {}

.list {}

.mob-menu__item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-menu__link {
    @include font (500, 40, 1.17, 0.02);
    color: #212121;
}

.link {}

.current-page {}

.active {}

.navigation__link {}

.mob-contacts {
    margin-bottom: 64px;
    padding: auto;
}

.mob-contacts__list {}

.mob-contacts__item {}

.mob-contacts__post {
    @include font (500, 34, 1.17, 0.02);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #212121;
}
.mob-contacts__icon-envelope {}

.mob-contacts__tel {
@include font (500, 34, 1.17, 0.02);
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #2196F3;
}
.mob-social__link {
    @include font(500, 18, 1.22, 0.02);
    display: inline;
    text-decoration: none;
    color: var(--third-color);
}
.mob-social__list {
    display: flex;
    gap: 10px;
    
        @media screen and (min-width: 768px) {
            display: none;
        }
}

    
.mob-social__item:not(:last-child):after {
            content: "";
            border-left: 1px solid rgba(33, 33, 33, 0.2);
            margin-left: 10px;
            color: rgba(33, 33, 33, 0.2);
            @media screen and (min-width: 768px) {
                display: none;
            }
}