.features__icon-antenna::before {
    background-image: url("../images/antenna2.svg");
    background-size: 70px 65px;
    margin-bottom: 30px;
}
.features__icon-clock::before {
    background-image: url("../images/clock.svg");
    background-size: 70px 65px;
    margin-bottom: 30px;
}
.features__icon-diagram::before {
    background-image: url("../images/diagram.svg");
    background-size: 70px 65px;
    margin-bottom: 30px;
}
.features__icon-astronaut::before {
    background-image: url("../images/astronaut.svg");
    background-size: 70px 65px;
    margin-bottom: 30px;
}