.portfolio-section {
    padding: 94px 0;
}
.portfolio-section-list {
    list-style: none;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 50px;
      @media screen  and (min-width: 480px) {
        justify-content: center;
    }
    @media screen  and  (min-width: 768px) {
        flex-wrap: nowrap;
    }
}
.portfolio-section-item {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-btn-text-color);
    transition-property: color;
}
.portfolio-section-item-btn {
    border: none;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    border-color: var(--section-team-baskground-color);
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
    &:focus {
        color: var(--main-btn-text-color);
        background-color: var(--main-btn-background-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        transition-property: box-shadow, color, background-color;
    }
}

.section-list {
    display: block;
    margin-top: 40px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
            justify-content: center;
    }
    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 50px;
    }
}
.section-item {
    list-style: none;
}
.portfolio-link {
    // display: block;
    display: flex;
    flex-direction: column;
    height: 100%;
    outline: none;
    text-decoration: none;
    &:hover,
        &:focus {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
}
.card-set {
    // margin: -15px;
    // display: flex;
    // flex-wrap: wrap;
    // outline: none;
}
.card-item {
    position: relative;
}
.card-top-text {
    position: relative;
    overflow: hidden;
}
.card-article {
    @include font (400, 18, 1.55, 0.03);
    color: var(--main-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);
    transition: transform 250ms linear;
    .card-item:hover & {
            transform: translateY(0%);
        }
                .portfolio-link:focus & {
                    transform: translateY(0%);
                }
}
.card-set {
>.card-item {
    margin: 15px;
    flex-basis: 100%;
    @media screen and (min-width: 768px){
        flex-basis: calc(100% / 2 - 30px);
    }
         @media screen and (min-width: 1200px) {
             flex-basis: calc(100% / 3 - 60px);
         }
}

}
.portfolio-text-box {
    padding: 20px 24px;
    border: 1px solid var(--section-team-baskground-color);
    border-top: 0;
    flex-grow: 1;
}
.section-title {
    @include font (700, 18, 2.0, 0.06);
      color: var(--first-color);
}
.section-text {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-color);
}
.submit-input {
    @include font (400, 16, 1.25, 0.03);
    box-sizing: border-box;
    width: 358px;
    height: 50px;
    border: 1px solid var(--submit-input-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: var(--footer-link-color);
}
.submit-btn {
    @include font (700, 16, 1.87, 0.06);
    width: 200px;
    height: 50px;
    background: var(--third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
    padding: 5px 15px;
    margin-left: 12px;
    border: solid var(--third-color);
    justify-content: center;
}